<div class="table-container">
  <div>
    <label *ngFor="let level of ['ERROR', 'WARN', 'INFO', 'DEBUG', 'TRACE']">
      <input type="checkbox" [value]="level" (change)="onLevelToggle(level)" [checked]="selectedLevels[level]"> {{level}}
    </label>
  </div>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Level</th>
      <th>Message</th>
      <th *ngIf="hasErrorEntries()">Stack trace</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let entry of filteredLogEntries(); let i = index">
      <tr [ngClass]="{ 'error-row': entry.level === 'ERROR', 'clickable-row': true }" (click)="onRowClick(entry)">
        <td class="bg-light">{{ entry.date }}</td>
        <td class="bg-light">{{ entry.time }}</td>
        <td [ngClass]="{
      'level-info': entry.level === 'INFO',
      'level-warn': entry.level === 'WARN',
      'level-error': entry.level === 'ERROR',
      'level-debug': entry.level === 'DEBUG',
      'level-trace': entry.level === 'TRACE'
      }">{{ entry.level }}</td>
        <td>{{ entry.message }}</td>
        <td *ngIf="entry.level === 'ERROR'">
          <button (click)="toggleExpandedEntry(entry)">Toggle stack trace</button>
        </td>
      </tr>
      <tr *ngIf="expandedEntry === entry" class="stack-trace-row">
        <td colspan="8">
          <pre>{{ entry.stackTrace.join('\n') }}</pre>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
