
$primary-blue: #042475;
$secondary-blue: #1B49BE;
$medium-blue: #1865D8;
$light-blue: #D3DFF4;
$extra-light-blue: #EDF2FF;

$primary-gray: #1B1F26;
$secondary-gray: #5B697E;
$medium-gray: #9AA9C5;
$light-gray: #E6EAF2;
$extra-light-gray: #F1F4FA;

$primary-green: #04262F;
$secondary-green: #10434F;
$medium-green: #005264;
$light-green: #B3CBD1;
$extra-light-green: #E6EEF0;

$primary-red: #2C0F0F;
$secondary-red: #B23B3B;
$medium-red: #DE4A4A;
$light-red: #F5C9C9;
$extra-light-red: #FCEDED;
