/*
Light mode
 */
$primary-color: #1865D8;
$secondary-color: #005264;
$accent-color: #74A1F9;
$alert-color: #DE4A4A;
$text-color: #042475;
/*
Dark mode
 */
$dark-primary-color: #233788;
$dark-secondary-color: #725A7A;
$dark-accent-color: #C56C86;
$dark-alert-color: #FF7582;
$dark-text-color: #F1F4FA;
