<nav>
  <img src="assets/images/uxopian.jpeg" alt="logo de l'entreprise uxopian,
  rond violet avec fond orangé et montagnes">
  <span class="splitter"></span>
  <div class="navBar">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home Page</a>
    <a routerLink="log" routerLinkActive="active">Upload Log</a>
    <a routerLink="data" routerLinkActive="active">Data</a>
    <a href="#" routerLinkActive="active">Customers</a>
    <a href="#" routerLinkActive="active">Stettings</a>
  </div>
</nav>

