@import "assets/_project-variables";
/*
Font
 */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $extra-light-gray;
}
h1{
  background-color: $primary-blue;
  color: $extra-light-blue;
  padding: 4px;
  margin-bottom: 20px;
}
button{
  padding: 3px;
  border-radius: 5px;
  width: 100px;
  background-color: $extra-light-blue;
  border: none;
  color: $primary-blue;
}

button:hover{
  color: $light-blue;
  background-color: $medium-blue;
  cursor: pointer;
  transition: 0.3s;
}

.active{
  background-color: $secondary-blue;
  width: 70%;
  border-radius: 5px;
}

